<div class="container-fluid container-fluid-custom pb-5 mb-5">
  <div class="row mb-4">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active">Add Note</li>
        </ol>
      </nav>
      <div class="col d-flex justify-content-between align-items-center">
        <h1 class="h3">Add Note</h1>
      </div>
    </div>
  </div>

  <form action="/dashboard/add" method="POST" class="position-relative">
    <div class="form-group mb-4 position-absolute" style="left: 1px; top: 1px; right: 1px;">
      <input type="text" class="form-control fw-bold border-0 fs-4" id="title" name="title" placeholder="Title" required>
    </div>

    <div class="form-group mb-4">
      <textarea required class="form-control pt-5 fs-4" id="body" name="body" placeholder="Take a note..." rows="12"></textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg submit-button"style="background-color: #fd7e14; color: white;">Submit</button>
    </div>

   <style>
   .submit-button {
    margin-top: -4.5rem;
  }
  </style>
    

<style>
  #body {
    background-image: url('https://www.onlygfx.com/wp-content/uploads/2020/07/blank-post-it-note-1.png');
  }
</style>
