<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="mt-auto">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3 ">
      <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li><a href="/about" class="nav-link px-2 text-secondary">About</a></li>
    </ul>
  </div>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" style="float: right;"/>
  
<div style="display: flex;">
  <div class="container">
   
   
    <a href="https://www.facebook.com/puma.grissa/" class="btn btn-social-icon btn-facebook" target="_blank" style="float: right;">
      <span class="fa-stack fa-lg">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-facebook fa-stack-1x"></i>
  </span>
    </a>


    <a href="https://github.com/Puma1982" class="btn btn-social-icon btn-github" target="_blank" style="float: right;">
      <span class="fa-stack fa-lg">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-github-square fa-stack-1x"></i>
  </span>
    </a>


  <a href="https://www.linkedin.com/in/haithem-grissander-2715a022a/" class="btn btn-social-icon btn-linkedin" target="_blank" style="float: right;">
      <span class="fa-stack fa-lg">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-linkedin fa-stack-1x"></i>
  </span>
    </a>

  </div>
  </div>
  </footer>
  