<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="mt-auto">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <!-- Navbar content -->
    </ul>
  </div>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />

  <div style="display: flex;">
    <div class="container">
      <!-- Social icons -->

      <style>
        .fa-stack{
          position: relative;
          top: -15px; /* Adjust this value to move the button down as desired */
        }
      </style>



      <a href="https://www.facebook.com" class="btn btn-social-icon btn-facebook" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
      </a>


      <a href="https://github.com/Puma1982" class="btn btn-social-icon btn-github" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-github-square fa-stack-1x"></i>
        </span>
      </a>


      <a href="https://www.linkedin.com/in/haithem-grissander-2715a022a/" class="btn btn-social-icon btn-linkedin" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x"></i>
        </span>
      </a>

    </div>
  </div>
  <style>
    footer.d-flex {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #f8f9fa;
      padding: 10px 0;
      border-top: solid #dee2e6;
    }
  </style>
</footer>
