<div class="container-fluid">
    <header class="mt-3 mx-4">
      <nav class="navbar rounded navbar-expand-lg bg-body-tertiary py-3 mb-4">
        <div class="container-fluid">
       
          <style>
            .navbar-brand .img-icon {
              width: 70px;
              height: 70px;
            }
          </style>
          
          <a class="navbar-brand ms-3" href="/dashboard">
            <img src="/img/logo.png" alt="icon" class="img-icon">
          </a>
          
  
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dashboard"
                  >Dashboard</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cal">Calendar</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/paint">Paint</a>
              </li>
            </ul>
  
        <!--Search Boxe and icon*/-->
  
        
        <head>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <style>
             body {
            font-family: Arial;
            background: linear-gradient(45deg,#f18f88 20%, #1870ed 80%);
          }
        
            * {
              box-sizing: border-box;
            }
        
            .search-form {
              display: flex;
              max-width: 300px;
              margin: auto;
            }
        
            .search-form input[type=text] {
              flex: 1;
              padding: 10px;
              font-size: 17px;
              border: 1px solid grey;
              background: #f1f1f1;
            }
        
            .search-form button {
              padding: 10px;
              background: #198754;
              color: white;
              font-size: 17px;
              border: 1px solid grey;
              border-left: none;
              width: 30px;
            }
        
            .search-form button:hover {
              background: #0b7dda;
            }
          </style>
        </head>
        <body>
        
    
            <!--Logout-->
  
            <div class="col-md-3 text-end">
              <a href="/logout" type="button" class="btn btn-outline--background-color bg-darkgreen">Logout</a>
    </div>
  
        </div>
      </nav>
    </header>
  </div>
  
  