<div class="container-fluid">
  <header class="mt-3 mx-4">
    <nav class="navbar rounded navbar-expand-lg bg-white py-3 mb-4">
      <div class="container-fluid">
        <!-- Navbar content goes here -->

        <style>
          .navbar-brand{
            position: relative;
            top: -9px; /* Adjust this value to move the button down as desired */
          }
        </style>



        <a class="navbar-brand ms-3" href="/dashboard">
          <img src="/img/logo.png" alt="icon" class="img-icon">
        </a>
        
        <div>

          <style>
            .navbar-toggler{
              position: relative;
              top: -9px; /* Adjust this value to move the button down as desired */
            }
          </style>          
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            style="width: 35px;"
          >
            <span class="navbar-toggler-icon" style="font-size: 10px;"></span>
          </button>
        </div>
        
        <style>
          .nav-item {
            position: relative;
            top: -15px; /* Adjust this value to move the button down as desired */
          }
        </style>
        
       
        


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cal">Calendar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/paint">Paint</a>
            </li>
          </ul>
          <!-- Search Box -->

          <style>
            .search-form{
              position: relative;
              top: -3px; /* Adjust this value to move the button down as desired */
              left:2rem;
            }
          </style>

          <div class="top-center">
            <form class="search-form" action="/dashboard/search" method="POST" role="search">
              <input type="search" name="searchTerm" placeholder="Search.." style="width: 115px;" required>
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <!-- Logout -->
          
          <div class="col-md-3">
            <div class="top-right">
              <style>
                .btn {
                  position: relative;
                  top: 20px; /* Adjust this value to move the button down as desired */
                }
              </style>
              
              <a href="/logout" type="button" class="btn btn-outline--background-color bg-darkgreen" style="font-size: 14px;">Logout</a>
              
           </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>