<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <form method="POST" action="/bookings">
        <label for="booking-date">Booking Date:</label>
        <input type="datetime-local" id="booking-date" name="bookingDate">
      
        <label for="booking-time">Booking Time:</label>
        <input type="time" id="booking-time" name="bookingTime">
      
        <label for="reminder-time">Reminder Time:</label>
        <input type="time" id="reminder-time" name="reminderTime">
      
        <button type="submit">Book Now</button>
      </form>
</head>
<body>
    
</body>
</html>