<div class="container-fluid container-fluid-custom py-md-5 mb-5">
    <div class="container-fluid container-fluid-custom py-md-5 mb-5">
        
        <img src="video/pqzlfhuu.png" alt="icon" class="img-icon">
      </div>
      
      <style>
        .img-icon {
          width: 100px;
          height: 100px;
          object-fit: contain;
        }
      </style>
      
<main>
    <div class="row py-md-5 text-center justify-content-center">
        <div class="col-md-12 col-lg-8 mb-6 mb-md-0">
            <h1 class="display-20 fw-bold mb-30 position-relative home-title">
            WRITE DOWN YOUR THOUGHTS AND FEELINGS AS THEY COME TO YOU !
        </h1>
            <P class="fs-4 mb-4">
                The simplest way to keep notes is with NoteNotes. It's lightweight, clean,
                 and free. NoteNotes is made with EJS, 
                MongoDB, and Node.js.
            </P>
            <a href="/auth/google" class="btn btn-warning btn-lg">Note For Free!</a>
            
            
          
    
            <video autoplay loop play-inline muted background-image>
                <source src="video/video1.mp4">
                    video is not load
                 </video>
        

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        </body>
        </html>
 
        </div>
    </div>
</main>
</div>