<div class="container-fluid container-fluid-custom py-md-5 mb-5">
<h1>NoteNotes</h1>
<main>
    <div class="row py-md-5 text-center justify-content-center">
        <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
            <h1 class="display-2 fw-bold mb-4 position-relative home-title">
            WRITE DOWN YOUR THOUGHTS AND FEELINGS AS THEY COME TO YOU !
        </h1>
            <P class="fs-4 mb-4">
                The simplest way to keep notes is with NoteNotes. It's lightweight, clean,
                 and free. NoteNotes is made with EJS, 
                MongoDB, and Node.js.
            </P>
            <a href="/auth/google" class="btn btn-warning btn-lg">Note For Free!</a>
        </div>
    </div>
</main>
</div>