<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Painter Brush</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="js/paintScript.js" defer></script>
  </head>
  <body>
    <div class="containerrr">
      <section class="tools-board">
        <div class="row">
          <ul class="options">

            <ul class="options">
              <li class="option tool" id="line">
                <i class="bi bi-dash-lg line-icon"></i>
                <span>Line</span>
              </li>
            </ul>
        
            <style>
              .option{
                right: 2.2rem;
              }
              .line-icon {
                display: inline-block;
                width: 20px;
                height: 2px;
                background-color: green;
                position: relative;
                right: 2.2rem;
              }
            </style>
            

            
             
          
            <!--Text T-->
            <ul class="options">
            <li class="option tool" id="text">
            <i class="fab fa-mdb"></i>
            <span class="Text-icon"></span>
            <h4>Text</h4>
           </li>
           </ul>
            <style>
              .fab.fa-mdb {
                font-size: 24px;
                color: green;
                top: center;
                left: 2px;
              }
            </style>


           
            <!--Rectangle-->
            <li class="option tool" id="rectangle">
              <span class="rectangle-icon"></span>
              <span>Rectangle</span>
          </li>
        </ul>
        <style>.rectangle-icon {
          display: inline-block;
          width: 20px;
          height: 10px;
          background-color: green;
      }
      </style>


       <!--Circle-->
       <ul class="options">
        <li class="option tool" id="circle">
            <i class="bi bi-circle-fill"></i>
            <span>Circle</span>
        </li>
        <!-- Rest of your list items -->
    </ul>
    <style>
      .bi-circle-fill {
        display: inline-block;
        border-radius: 50%;
        background-color: green;
        width: 20px;
        height: 20px;
      }
    </style>



<!--Ellipse-->
  <!--Circle-->
  <ul class="options">
    <li class="option tool" id="ellipse">
      <i class="bi bi-ellipse-fill"></i>
      <span>Ellipse</span>
  </li>
  

    <!-- Rest of your list items -->
</ul>
<style>
  .bi-ellipse-fill {
    display: inline-block;
    border-radius: 50%;
    background-color: green;
    width: 25px;
    height: 15px;
  }
</style>



 <!--Triangle-->
 <style>
  .triangle-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 18px solid green;
  }
</style>
<ul class="options">
  <li class="option tool" id="triangle">
    <div class="triangle-icon"></div>
    <span>Triangle</span>
  </li>
  <!-- Rest of your list items -->
</ul>


              <div class="option">
              <input type="checkbox" id="fill-color">
              <label for="fill-color">Fill color</label>
            </div>
        </ul>
        </div>

        <div class="row">
          <label class="title">Options</label>
          <ul class="options">
            


          
            
  
            <ul class="options">
              <li class="option active tool" id="brush">
                <img src="icons/brush.png" alt="">
                <span>Brush</span>
              </li>
            </ul>
            
            <style>
              .option.tool {
                color: green;
                /* Add any additional styles as needed */
              }
            
              .option.tool img {
                font-size: 24px;
                width: 24px;
                height: 24px;
                /* Add any additional styles as needed */
              }
            </style>
            





     <!--Eraser-->
            
     <ul class="options">
      <li class="option tool" id="eraser">
        <img src="icons/eraser.png" alt="">
        <span>Eraser</span>
      </li>
    </ul>
    
    <style>
      .option.tool {
        color: green;
        /* Add any additional styles as needed */
      }
    
      .option.tool img {
        width: 24px;
        height: 24px;
        /* Add any additional styles as needed */
      }
    </style>
    






            <li class="option">
              <input type="range" id="size-slider" min="1" max="30" value="5">
            </li>
          </ul>
        </div>
        <div class="row colors">
          <label class="title">Colors</label>
          <ul class="options">
            <li class="option"></li>
            <li class="option selected"></li>
            <li class="option"></li>
            <li class="option"></li>
            <li class="option">
              <input type="color" id="picker" value="#4A98F7">
            </li>
          </ul>
        </div>
        <div class="row buttons">
          <button class="clear-canvas">Clean</button>
          <style>
            .clear-canvas{
              position: relative;
              top: -20px; /* Adjust this value to move the button down as desired */
            }
          </style>



          <button class="save-img">Save-Img</button>

        
          



      <style>
        .save-img{
          position: relative;
          top: -20px; /* Adjust this value to move the button down as desired */
        }
      </style>
        </div>
      </section>
      <section class="drawing-board">
        <canvas id="myCanvas"></canvas>
     </section>
    </div>
    
  </body>
</html>

